.sidebar {
  background-color: #C7E7E9;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #457B9D;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 1px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  font-size: 1rem;
  color: #457B9D;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.menu li svg {
  margin-right: 10px;
  font-size: 1.2rem;
}

.menu li:hover {
  background-color: #ffff;
  color: #457B9D;
}

.menu li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
}