.vendas-semanais-title {
    font-size: 24px;
    color: #223350;
    margin-bottom: 20px;
}

.vendas-semanais-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

.vendas-semanais-table th,
.vendas-semanais-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.vendas-semanais-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.vendas-semanais-total {
    font-size: 24px;
    font-weight: bold;
    color: #223350;
}